<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<!--  -->
<head th:replace="fragments::head(title='Unshipped orders')"></head>
<!--  -->
<body>

<nav th:replace="fragments::menu"></nav>

<!--Unshipped orders  -->
<p></p>
<h1 >Unshipped orders</h1>
<p></p>
<div th:if="${ordersWithProblems} != null ">Shipping failed for order(s) <span th:each="failedOrder:${ordersWithProblems}" ><span th:text="${failedOrder}"></span>,</span> not enough stock </div>
<!--Unshipped orders list  -->
<form method="post" th:action="@{/}">
<table class="zebra">
    <tr><button> Set as Shipped</button></tr>
    <tr>
        <th>ID</th><th>Ordered</th><th>Required</th><th>Customer</th><th>Comments</th><th>Status</th><th>Ship</th>
    </tr>
    <tr th:each="order:${unshippedOrders}" th:object="${order}">

        <td ><a th:text="*{id}" th:href="@{'/order/'+${order.getId()}}"></a></td>
        <td th:text="*{ordered}"></td><td th:text="*{required}"></td>
        <td th:text="*{customer.name}"></td>
        <td th:text="*{comments}"></td>
        <td ><img th:src="@{/images/{status}.png(status=*{status.name()})}" alt="status"><span th:text="*{status.name()}"></span></td>
        <td class="center">
            <input type="checkbox" name="toShip" th:value="*{id}">
        </td>
    </tr>

</table>
</form>
</body>
</html>